<form class="mt-3">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="5"></textarea>
      </div>
    <div>
        <p>Instructions</p>
        <ol class="list-group list-group mb-3">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <p class="m-0">List itemd sakjdksadkaskdja d asd asda ds aksdkjffffffffffffffffff fffffffffff ffffffffffffffff fffffffffffffffff</p>
                <button class="btn btn-close ms-auto"></button>
            </li>
        </ol>
    </div>
    <div class="mb-3">
        <label for="newInstruction" class="form-label">New instruction</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="newInstruction">
            <button type="button" class="btn btn-outline-secondary" type="button">Add</button>
          </div>
       
      </div>
      <div>
        <p>Ingredients</p>
        <ol class="list-group list-group mb-3">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p class="m-0">Orange 2</p>
                <button type="button" class="btn btn-close ms-auto"></button>
            </li>
        </ol>
    </div>
    <div class="mb-3">
        <label class="form-label">Ingredient name and amount</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control">
            <input type="text" class="form-control">
            <button class="btn btn-outline-secondary" type="button">Add</button>
          </div>
       
      </div>
      <div class="d-grid col-12 col-lg-3">
        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </div>
    
  </form>
