/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto';
}
ul{
    list-style: none;
    padding: 0;
}
body{
    margin: 0;
}
.btn{
    background-color: green;
    border: solid 1px black;
    padding: .5em 1em;
    
}
.btn:hover{
    cursor: pointer;
}