/* You can add global styles to this file, and also import other style files */
html{
    font-family: 'Roboto';
}
ul{
    list-style: none;
    padding: 0;
}
body{
    margin: 0;
}
.hero-heading{
    font-weight: 900;
    font-size: 3rem;
}