<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h3>Register</h3>
            <div class="alert alert-danger" *ngIf="error">
                {{error}}
            </div>
            <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
